.section {
  display: flex;
  width: calc(100% - 10vw);
  padding: 8vh 5vw;
  gap: 50px;
  background: url(../../assets/HeaderWave.png) center bottom no-repeat;
}

.sectionLeft {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 50%;
}

.sectionLeft .description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  max-width: 600px;
  font-size: calc(2rem + 1.5vw);
  font-weight: 600;
  line-height: 120%;
  color: #202333;
}

h1 span {
  font-family: "Rochester", cursive;
  font-weight: 400;
  font-size: calc(2rem + 3vw);
  padding-inline: 10px;
  line-height: 80%;
  color: var(--blue);
}

.sectionLeft .description p {
  max-width: 550px;
}

.sectionLeft .cta {
  display: flex;
  gap: 30px;
}

.sectionLeft .cta span a {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b0d7ff;
  border-radius: 8px;
  transition: 0.15s ease;
}

.sectionLeft .cta span {
  display: flex;
  gap: 15px;
}

.sectionLeft .cta a ion-icon {
  font-size: 32px;
  color: #091c2e;
}

.sectionLeft .cta span a:hover {
  background: #87c3ff;
}

.sectionRight {
  display: flex;
  gap: 40px;
  width: 30%;
  justify-content: center;
}

.sectionRight img {
  height: 70vh;
  border-radius: 30px;
  box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.15);
}

.sectionRight img:last-child {
  margin-top: 50px;
  transform: rotate(5deg);
}