section.contact {
  width: calc(100% - 10vw);
  padding-inline: 5vw;
  position: relative;
  padding-block: 30vh 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #d6eaff;
}

.contactBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5vh;
  gap: 50px;
}

.contactOptions {
  width: 90%;
  gap: 20px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.contactOptions > span {
  display: flex;
  gap: 20px;
}

.contactItem {
  display: flex;
  height: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  background: #bce0ff;
  padding-inline: 30px;
  flex-grow: 1;
  border-radius: 6px;
}

.contactOptions span .contactItem {
  flex: 1;
}

.contactItem > ion-icon {
  font-size: 50px;
  color: #24496F;
  transition: .15s ease;
}

.contactItem > p {
  font-weight: 600;
  color: #1b1d2c;
}

.contactItem:hover {
  background: #a9d7ff;
  box-shadow: 0 0 20px #a9d7ffb3;
}

.contactItem:hover > ion-icon {
  transform: scale(1.1);
}

.contactForm {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contactForm span {
  display: flex;
  gap: 20px;
}

.textField {
  width: calc(100% - 40px);
  padding: 20px;
  background: #dbe6f35f;
  border: 2px solid #bbc5d0;
  resize: none;
  font-size: 20px;
  border-radius: 6px;
  color: var(--blue);
  transition: var(--transition);
}

.contactForm textarea {
  height: 200px;
}

.contactForm button {
  width: 300px;
}

.textField:focus {
  border-color: var(--blue);
}