section.advisory {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  gap: -20px;
}

.advisoryTop {
  width: calc(100% - 10vw);
  padding-inline: 5vw;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background: url('../../assets/advisory.png') no-repeat center 40%;
  background-clip: padding-box;
  background-size: cover;
  padding-block: 50px;
  position: relative;
}

.advisoryTop::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, rgba(24, 24, 24, 0.00) -6.77%, rgba(24, 24, 24, 0.47) -6.77%, rgba(24, 24, 24, 0.86) 53.95%, #181818 89.48%);
}

.advisoryTop img {
  filter: brightness(0%) invert(100%);
  z-index: 2;
}

.advisoryTop h2 {
  font-size: calc(2rem + 2vw);
  font-weight: 600;
  color: #fff;
  z-index: 2;
}

.advisoryTop h3 {
  font-size: calc(1rem + 1.5vw);
  font-weight: 200;
  color: #fff;
  z-index: 2;
}


.advisoryBottom {
  width: calc(100% - 100px);
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: #181818;
  color: #fff;
  transform: translateY(-5px);
  padding: 0 50px 50px 50px;
}

.advisoryItem {
  display: flex;
  max-width: 300px;
  flex-direction: column;
  gap: 20px;
  background: #09090961;
  padding: 40px;
  border-radius: 10px;  
  box-shadow: 0 0 20px #0000002c;
  position: relative;
  overflow: hidden;
}

.advisoryItem h4::first-letter {
  font-family: 'Rochester', cursive;
  font-size: 3rem;
  letter-spacing: -3px;
}

.advisoryItem h4 {
  font-size: 2rem;
  font-weight: 500;
  z-index: 2;
}

.advisoryItem::after {
  content: "";
  position: absolute;
  left: -40px;
  top: -40px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  filter: blur(60px);
  background: #44a1ff;
}

.advisoryItem p {
  font-weight: 200;
  line-height: 140%;
  font-size: 18px;
}