:root {
  --blue: #24496f;
  --background-page: #e7eff7;
  --white: #fff;
  --black: #000;

  --transition: .15s ease;
  --transition-low: .3s ease;
  --transition-very-low: .5s ease;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  background: var(--background-page);
}

body.modalOpen {
  overflow: hidden;
}

/* RESET STYLES */

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
button,
input,
textarea {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  font-family: inherit;
  font-weight: inherit;
}

input,
textarea {
  cursor: auto;
}


/* Common */

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: calc(2rem + 1vw);
  font-weight: 600;
  color: #202333;
  text-align: center;
  margin-bottom: 20px;
}

p.primaryDesc {
  font-size: 20px;
  font-weight: 300;
  line-height: 150%;
  color: #000000bb;
}

.ghost-title {
  color: #202333;
  font-size: 8vw;
  position: absolute;
  pointer-events: none;
  opacity: 0.2;
  top: 12vh;
  background-image: linear-gradient(180deg, #202333 50%, #fff 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
}

section>p {
  max-width: 60vw;
  text-align: center;
}

footer {
  width: calc(100% - 10vw);
  padding: 30px 5vw;
  background: #181818;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.message {
  position: fixed;
  z-index: 100;
  bottom: 30px;
  left: 30px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 25px;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 2px 5px #0000001f;
  color: var(--blue);
  transform: translateY(150%);
  transition: 0.25s ease;
  font-weight: 600;
}

.message ion-icon {
  font-size: 24px;
}

.message.--show {
  transform: translateY(0);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e7eff7;
}

::-webkit-scrollbar-thumb {
  background: #a3a3a3;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}